setuptools>=65.0.0
wheel
cython

fastapi
uvicorn[standard]
gunicorn

python-jose[cryptography]
passlib[bcrypt]
python-multipart
pymongo
python-dotenv

groq
langchain
langchain-groq

pydantic
email-validator
pydantic-settings
sentence-transformers
numpy --only-binary=:all:
scikit-learn

werkzeug
